<ul class="list-group">
  <% tasks.forEach((task) => { %>
  <li class="list-group-item shadow-sm border p-3 mb-2 rounded-3">
    <div class="d-flex align-items-center gap-3">
      <div class="form-check flex-grow-1 d-flex align-items-center gap-3 mb-0">
        <input type="checkbox" class="form-check-input" <%= task.completed ?
        'checked' : '' %> hx-post="/toggle/<%= task.id %>"
        hx-target="#task-list" hx-swap="innerHTML" >
        <span
          class="task-text fs-5 <%= task.completed ? 'completed' : '' %>"
          id="text-<%= task.id %>"
        >
          <%= task.task %>
        </span>
      </div>

      <form
        class="edit-form d-none w-100"
        id="form-<%= task.id %>"
        hx-put="/edit/<%= task.id %>"
        hx-target="#task-list"
        hx-swap="innerHTML"
        hx-headers='{"X-HTTP-Method-Override": "PUT"}'
      >
        <div class="d-flex gap-2">
          <input
            type="text"
            name="task"
            value="<%= task.task %>"
            class="form-control"
            required
          />
          <button type="submit" class="btn btn-success px-3">Save</button>
          <button
            type="button"
            class="btn btn-secondary px-3"
            onclick="cancelEdit(<%= task.id %>)"
          >
            Cancel
          </button>
        </div>
      </form>

      <div class="task-actions">
        <div class="btn-group">
          <button
            class="btn btn-outline-primary btn-sm px-3"
            onclick="startEdit(<%= task.id %>)"
          >
            Edit
          </button>
          <form
            hx-post="/delete/<%= task.id %>"
            hx-target="#task-list"
            hx-swap="innerHTML"
            class="d-inline"
          >
            <button type="submit" class="btn btn-outline-danger btn-sm px-3">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </li>
  <% }) %>
</ul>

<script>
  function startEdit(id) {
    document.getElementById(`text-${id}`).parentElement.classList.add("d-none");
    document.getElementById(`form-${id}`).classList.remove("d-none");
  }

  function cancelEdit(id) {
    document
      .getElementById(`text-${id}`)
      .parentElement.classList.remove("d-none");
    document.getElementById(`form-${id}`).classList.add("d-none");
  }
</script>
